@import 'styles/base.scss';

.activity {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    padding-bottom: 110px;
    &__header {
        margin: 0;
        padding-top: 67px;
        padding-bottom: 42px;
        width: 100%;
        text-align: left;
        font-weight: bold;
        font-size: 22px;
    }
    section {
        width: 100%;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .activity {
        padding-bottom: 80px;
        &__header {
            padding: 0;
            height: 69px;
            line-height: 69px;
            border-bottom: 1px solid rgba(175, 175, 175, 0.5);
            text-align: center;
            font-weight: 500;
            font-size: 21px;
        }
        section {
            margin-bottom: 25px;
            border-bottom: 1px solid rgba(226, 226, 226, 0.5);
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .activity {
        padding-bottom: 20px;
        &__header {
            height: 47px;
            line-height: 47px;
            font-size: 17px;
        }
        section {
            margin-bottom: 10px;
        }
    }
}
