@import 'styles/base.scss';

//pc, 기본
.signup {
    width: 100%;
    height: 100%;
    &__button {
        margin-top: 110px;
        height: 71.9000244140625px;
        width: 100%;
        background: $main-color;
        color: white;
    }
}
//태블릿
@media screen and (max-width: $tablet-max) {
    .signup {
        width: 100%;
        height: 100%;
        &__title {
            width: 100%;
            height: 69.24px;
            font-size: 21px;
            font-weight: 500;
            line-height: 69.24px;
            border-bottom: 0.487px solid #afafaf;
            text-align: center;
        }
        &__button {
            position: fixed;
            bottom: 0;
            margin-top: 0;
            height: 71.9px;
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .signup {
        &__title {
            height: 47px;
            font-size: 17px;
            font-weight: 500;
            line-height: 47px;
        }
        &__button {
            height: 51px;
        }
    }
}
