@import 'styles/base.scss';

//pc, 기본
.signup {
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .signup {
        &-notpc {
            width: 100%;
            height: 100%;
            &__title {
                height: 69.24px;
                font-family: Noto Sans KR;
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 69.24px;
                letter-spacing: 0em;
                border-bottom: 0.487px solid #afafaf;
                text-align: center;
            }
            &__button {
                margin-top: 110px;
                height: 71.9000244140625px;
                width: 100%;
                background: #e5e5e5;
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .signup {
        &-notpc {
            width: 100%;
            height: 100%;
            &__title {
                height: 47px;
                font-family: Noto Sans KR;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 47px;
                letter-spacing: 0em;
                text-align: center;
                border-bottom: 0.487px solid #afafaf;
            }
            &__button {
                height: 51px;
                width: 100vw;
                background: #e5e5e5;
            }
        }
    }
}
