# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
src/components/Home/Home.js
src/components/Login/Login.js
src/components/LunaPost/index.js
src/components/LunaPost/LunaPost.js
src/components/LunaPost/LunaPost.scss
src/components/NoticeBoard/NoticeBoard.js
src/components/NoticePost/index.js
src/components/NoticePost/NoticePost.js
src/components/NoticePost/NoticePost.scss
src/components/Post/Post.js
src/components/common/View/View.js
src/components/common/VoteModal/VoteModal.js
src/components/common/comment/CommentInput/CommentInput.js
src/components/common/comment/CommentList/CommentList.js
src/components/signup-process/SignUpInfo/SignUpInfo.js
src/constants/index.js
src/containers/EventPostContainer.js
src/containers/FreePostContainer.js
src/containers/LunaPostContainer.js
src/containers/NavContainer.js
src/containers/NoticePostContainer.js
src/containers/VoteContainer.js
src/containers/WriteContainer.js
src/lib/api.js
src/store/modules/dalgona.js
src/store/modules/free.js
src/store/modules/issue.js
src/store/modules/luna.js
src/store/modules/write.js
