@import 'styles/base.scss';

//pc, 기본
.profile {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    padding-bottom: 300px;
    &__listtype {
        padding-top: 150px;
        padding-bottom: 79px;
        button {
            font-family: Noto Sans KR;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #838383;
            padding: 0 40px 0 0;
        }
        &.click {
            color: #1f1f1f;
            padding-right: 40px;
        }
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .profile {
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .profile {
    }
}
