@import 'styles/base.scss';

.hot-post-card {
  @include flex(column, flex-start, flex-start);
  width: 500px;
  min-height: 184px;
  &:nth-child(-n + 3) {
    margin-right: 44px;
  }
  img {
    margin-right: 16px;
    height: 120px;
    max-width: 100%;
    object-fit: cover;
  }
  h3 {
    margin: 0;
    font-size: 1.7rem;
  }
  h6 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 1.1rem;
  }
  p {
    margin: 0;
    color: #838383;
  }
  .home--hot--detail {
    margin: 5px 0 30px;
    font-size: 0.7rem;
    span {
      margin-right: 31px;
    }
  }
}
