@import 'styles/base.scss';

.vote-list {
    padding-bottom: 100px;

    .vote-list__container {
        @include flex(row, center, center);
        margin-top: 167px;
        margin-bottom: 150px - 20px - 23px; //23px: pagination margin top
        flex-wrap: wrap;
        .vote-list__item {
            margin-bottom: 20px;
            padding-right: 20px;
            width: 490px;
            height: 150px;
            box-sizing: border-box;
            &:nth-child(2n + 1) {
                margin-right: 20px;
            }
            .vote-list__item--left {
                @include flex(row, flex-start, flex-start);
                color: #a8a8a8;
                img {
                    margin-right: 16px;
                    min-width: 150px;
                    width: 150px;
                    height: 150px;
                    background: #838383;
                }
                .vote-list__item--info {
                    h6 {
                        margin: 25px 0 5px;
                        color: #000;
                        font-weight: bold;
                        font-size: 20px;
                        @include ellipsis(1, 20px);
                    }
                    span {
                        margin: 0;
                        font-size: 11px;
                        margin-right: 34px;
                    }
                    .vote-list__item--content {
                        margin: 22px 0 0;
                        font-size: 13px;
                        @include ellipsis(3, 13px);
                    }
                }
            }
        }
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .vote-list {
        width: 100%;
        padding-bottom: 73.18px;

        .vote-list__container {
            @include flex(column, center, center);
            margin-top: 0;
            margin-bottom: 56.78px; //23px: pagination margin top
            h4 {
                margin: 0;
                padding: 15px 20px;
                width: 100%;
                border-bottom: 1px solid rgba(175, 175, 175, 0.5);
                font-size: 18px;
                box-sizing: border-box;
                button {
                    margin-left: 32px;
                    span {
                        margin-left: 4px;
                        color: #898989;
                        font-weight: 300;
                        font-size: 15px;
                    }
                }
            }
            .vote-list__item {
                @include flex(row, space-between, center);
                margin-bottom: 0;
                padding-right: 0;
                width: calc(100% - 19.5px);
                height: 102.5px;
                border-bottom: 1px solid rgba(175, 175, 175, 0.5);
                &:nth-child(2n + 1) {
                    margin-right: 0;
                }
                .vote-list__item--left {
                    img {
                        min-width: 77px;
                        width: 77px;
                        height: 77px;
                    }
                    .vote-list__item--info {
                        @include flex(column, space-between, flex-start);
                        padding: 3px 0;
                        height: 77px;
                        h6 {
                            margin: 0;
                            padding-right: 20px;
                            font-weight: normal;
                            font-size: 17px;
                            @include ellipsis(1, 17px);
                        }
                        span {
                            font-size: 11px;
                            padding-right: 5px;
                            margin-right: 5px;
                            border-right: 1px solid #a8a8a8;
                            &:last-child {
                                border-right: 0;
                            }
                        }
                        .vote-list__item--content {
                            display: none;
                        }
                    }
                }
                .vote-list__item--reply {
                    width: 42px;
                    min-width: 42px;
                    height: 42px;
                    line-height: 42px;
                    color: #838383;
                    border: 1px solid #e2e2e2;
                    border-radius: 50%;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .vote-list {
        padding-bottom: 84px;

        .vote-list__container {
            margin-bottom: 18px; //23px: pagination margin top
            h4 {
                padding: 13.8px 19px;
                font-size: 14px;
                button {
                    margin-left: 13.5px;
                    img {
                        width: 9px;
                        height: 9.3px;
                    }
                    span {
                        margin-left: 5.1px;
                        font-size: 11px;
                    }
                }
            }
            .vote-list__item {
                width: calc(100% - 20px);
                height: 84px;
                .vote-list__item--left {
                    img {
                        min-width: 56px;
                        width: 56px;
                        height: 56px;
                    }
                    .vote-list__item--info {
                        height: 56px;
                        h6 {
                            font-size: 17px;
                            @include ellipsis(1, 17px);
                        }
                        span {
                            font-size: 12px;
                            padding-right: 4px;
                            margin-right: 4px;
                        }
                    }
                }
                .vote-list__item--reply {
                    width: 33.45px;
                    min-width: 33.45px;
                    height: 33.45px;
                    line-height: 33.45px;
                }
            }
        }
    }
}
