@import 'styles/base.scss';

//pc, 기본
.header {
    &.sidebaropen {
    }
    &-main {
        @include flex(row, center, center);
        width: 100%;
        height: 120px;
        background: rgb(45, 45, 45);
        color: rgb(137, 137, 137);
        &__logo {
            @include flex(row, space-between, center);
            width: 8%;
            height: 70px;
            padding-left: 20%;
            span {
                color: #f7c95f;
                font-size: 30px;
            }
            &-menu {
                display: none;
            }
            &-logoimg {
                margin-right: 10px;
                width: 140px;
                height: 55px;
                img {
                    display: block;
                    width: 140px;
                    height: 55px;
                }
            }
            &-search {
                display: none;
            }
        }
        &__login {
            @include flex(row, center, center);
            width: 20%;
            height: 25px;
            padding-right: 60px;
            border-right: 1px solid #838383;
            line-height: 80px;
            a {
                text-decoration: none;
            }
            &-login {
                color: #838383;
                padding-right: 20px;
                &.click {
                    color: white;
                }
            }
            &-signup {
                color: #838383;
                &.click {
                    color: white;
                }
            }
        }
        &__menu {
            @include flex(row, space-between, center);
            line-height: 80px;
            width: 70%;
            padding-left: 70px;
            &-content {
                &:hover {
                    color: #ffd278;
                }
                &.click {
                    color: #ffd278;
                }
            }
            input {
                background-position: 180px center;
                background-repeat: no-repeat;
                background-image: url('../../../images/search.png');
                width: 207px;
                height: 30px;
                margin-right: 150px;
                border-radius: 40px;
            }
        }
    }
    &-hover {
        @include flex(row, center, center);
        width: 100%;
        height: 302px;
        background: #c2c2c2;
        &__border {
            width: 49%;
            height: 256px;
            margin-top: 15px;
            border-right: 1px solid #838383;
        }
        &__menu {
            @include flex(row, flex-start, center);
            width: 27.5%;
            height: 256px;
            padding-right: 20%;
            margin-top: 15px;
            color: #838383;
            span {
                color: #838383;
                padding: 9px 0;
            }
            a {
                text-decoration: none;
            }
            &-main {
                @include flex(column, flex-start, center);
                width: 175px;
                height: 256px;
                padding-left: 130px;
                border-right: 1px solid #838383;
            }
            &-luna {
                @include flex(column, flex-start, center);
                width: 185px;
                height: 256px;
                border-right: 1px solid #838383;
            }
            &-free {
                @include flex(column, flex-start, center);
                width: 185px;
                height: 256px;
                border-right: 1px solid #838383;
            }
            &-dalgona {
                @include flex(column, flex-start, center);
                width: 175px;
                height: 256px;
                border-right: 1px solid #838383;
            }
        }
    }
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .header {
        &-main {
            @include flex(column, space-between, space-between);
            width: 100%;
            height: 119.79px;
            &.no {
                height: 70.79px;
            }
            &__logo {
                @include flex(row, space-between, space-between);
                width: 100%;
                padding: 15.97px 0px 20px 0px;
                span {
                    display: none;
                }
                img {
                    display: inline;
                    margin: 0 20px;
                }
                &-menu {
                    width: 16px;
                    height: 16px;
                }
                &-logoimg {
                    margin-right: 10px;
                    height: 31px;
                    img {
                        width: 110px;
                        height: 31px;
                    }
                }
                &-search {
                    width: 16px;
                    height: 16px;
                }
            }
            &__login {
                display: none;
            }
            &__menu {
                @include flex(row, space-around, center);
                width: 100%;
                height: 50px;
                padding-left: 0px;
                &-content {
                    height: 30px;
                    font-family: Noto Sans KR;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    &:hover {
                        color: white;
                        border-bottom: 1px solid #ffd278;
                    }
                    &.click {
                        color: white;
                        border-bottom: 1px solid #ffd278;
                    }
                }
                input {
                    display: none;
                }
            }
        }
        &-hover {
            height: 42.150001525878906px;
            background: rgb(53, 53, 53);
            @include flex(row, center, center);
            &__border {
                display: none;
            }
            &__menu {
                @include flex(row, space-around, center);
                width: 100%;
                height: 42px;
                margin-top: 0px;
                padding-right: 0px;
                &-main,
                &-luna,
                &-free,
                &-dalgona {
                    @include flex(row, space-around, center);
                    width: 100%;
                    height: inherit;
                    color: white;
                    font-family: Noto Sans KR;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: center;
                    border: none;
                    padding-left: 0px;
                }
                span {
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .header {
        &-main {
            @include flex(column, space-between, space-between);
            width: 100%;
            height: 89.79px;
            &.no {
                height: 55px;
            }
            &__logo {
                @include flex(row, space-between, space-between);
                width: 100%;
                padding: 15px 0px 15px 0px;
                span {
                    display: none;
                }
                img {
                    display: inline;
                    margin: 0 5px;
                }
                &-menu {
                    width: 16px;
                    height: 16px;
                }
                &-logoimg {
                    width: 120px;
                    margin-right: 0px;
                    height: 26px;
                    img {
                        width: 86.82999420166016px;
                        height: 25.177528381347656px;
                    }
                }
                &-search {
                    width: 16px;
                    height: 16px;
                }
                img {
                    display: inline;
                    margin: 0 20px;
                }
            }
            &__login {
                display: none;
            }
            &__menu {
                @include flex(row, space-around, center);
                width: 100%;
                height: 40px;
                padding-left: 0px;
                &-content {
                    height: 30px;
                    font-family: Noto Sans KR;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    &:hover {
                        color: white;
                        border-bottom: 1px solid #ffd278;
                    }
                    &.click {
                        color: white;
                        border-bottom: 1px solid #ffd278;
                    }
                }
                input {
                    display: none;
                }
            }
        }
        &-hover {
            width: 100%;
            height: 25.62px;
            background: rgb(53, 53, 53);
            @include flex(row, center, center);
            &__border {
                display: none;
            }
            &__menu {
                @include flex(row, space-around, center);
                width: 100%;
                height: inherit;
                margin-top: 0px;
                padding-right: 0px;
                &-main,
                &-luna,
                &-free,
                &-dalgona {
                    @include flex(row, space-around, center);
                    width: 100%;
                    height: inherit;
                    color: white;
                    font-family: Noto Sans KR;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: center;
                    border: none;
                    padding-left: 0px;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
