@import 'styles/base.scss';

.header {
    @include flex(row, space-between, center);
    margin: 0 auto;
    width: 1000px;
    .header__row {
        .header__title {
            @include flex(row, flex-start, center);
            h4 {
                display: inline-block;
                margin: 60px 0;
                margin-right: 7px;
                font-weight: bold;
                font-size: 34px;
            }
            button {
                width: 26px;
                height: 24px;
                background: #ffd278;
                border: 0.5px solid #ffd278;
            }
        }
        .header__btn--write {
            display: none;
        }
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .header {
        @include flex(column, center, center);
        width: 100%;
        .header__row {
            @include flex(row, space-between, center);
            width: 100%;
            padding: 0 22px;
            box-sizing: border-box;
            .header__title {
                @include flex(row, flex-start, center);
                height: 59px;
                h4 {
                    margin: 0;
                    margin-right: 3px;
                    font-weight: 500;
                    font-size: 23px;
                }
                button {
                    width: 20px;
                    height: 19px;
                }
            }
            .header__btn--write {
                display: block;
                width: 80px;
                height: 28px;
                background: #ffd278;
                font-size: 14px;
                color: #ffffff;
            }
        }
        hr {
            width: 100%;
            margin: 0;
            margin-bottom: 7px;
            border: none;
            border-bottom: 1px solid rgba(226, 226, 226, 0.5);
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .header {
        .header__row {
            padding: 0 18.5px;
            .header__title {
                height: 46.17px;
                h4 {
                    margin: 13.8px 0;
                    margin-right: 0;
                    font-weight: 500;
                    font-size: 14px;
                }
                button {
                    width: 14px;
                    height: 13px;
                }
            }
            hr {
                margin-bottom: 7px;
            }
            .header__btn--write {
                width: 54px;
                height: 21px;
                font-size: 12px;
            }
        }
    }
}
