@import 'styles/base.scss';

//pc, 기본
.write {
    @include flex(column, center, center);
    padding-top:50px;
    width: 100%;
    height: 100%;
    padding-bottom: 20%;
    &__top{
        display:none; 
    } 
    &__btn {
        @include flex(row, flex-end, center);
        width: 100%;
        padding-top: 17px;
        button {
            height: 43px;
            width: 80px;
            border-radius: 4px;
        }
        &-cancel {
            border: 1px solid #000000;
            margin-right: 12px;
        }
        &-confirm {
            background: #ffd278;
            border: none;
            color: white;
        }
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .write {
        @include flex(column, center, center);
        padding-top:0;
        width: 100%;
        &__top { 
            display:block;
            padding: 0 20px;
            width: 100%;
            height: 60px;
            border-bottom: 1px solid rgba(175, 175, 175,0.5);
            box-sizing: border-box;
            span {
                display: block;  
                font-size: 23px;
                font-weight: 500; 
                line-height:60px;
            } 
        }   
        &__btn {
            @include flex(column-reverse, center, center); 
            width: 100%;
            padding: 21px 20px 0; 
            box-sizing:border-box;
            button {
                width: 100%;
                height: 50px;
                border-radius: 0px;
                color: black;
                font-size: 20px;
            }
            &-confirm {
                background: #dadada; 
                margin-bottom: 7px;
                border: none; 
            }
            &-cancel {
                background:white;
                margin-right: 0px;
                border: 1px solid rgba(167, 167, 167,0.5);
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .write { 
        &__top {  
            height: 49px; 
            span {
                font-size: 14px;
                font-weight: 500; 
                line-height:49px;
            } 
        }  
        &__btn {
            button { 
                height: 32px;  
                color:#000;
                font-size: 15px;
            }
            &-confirm { 
                margin-bottom: 3px;
            }
            &-cancel {
                margin-right: 0px;
            }
        }
    }
}
