@import 'styles/base.scss';

//pc, 기본
.signupagree {
    @include flex(column, space-around, center);
    width: 100%;
    font-size: 18px;
    &__title {
        margin-top: 100px;
        margin-bottom: 35px;
        width: 824px;
        font-weight: bold;
        font-size: 34px;
        text-align: left;
    }
    &__button {
        margin-bottom: 117px;
        button {
            &.click {
                background: #f7c95f;
            }
            &.noclick {
                background: #d5d5d5;
            }
            width: 824px;
            height: 103px;
            background: #f7c95f;
            border-radius: 8px;
            font-weight: bold;
            font-size: 34px;
            color: #1f1f1f;
        }
    }

    &__content {
        margin-bottom: 36px;
        &-agree {
            @include flex(row, space-between, center);
            margin-bottom: 16px;
            width: 824px;
            font-size: 17px;
            color: #000000;
            span {
                font-weight: bold;
            }
            &-check {
                input {
                    margin-right: 10px;
                }
                &.box {
                    line-height: 22px;
                }
            }
        }
        pre {
            margin: 0;
            height: 215.89999389648438px;
            width: 824px;
            overflow-y: scroll;
            white-space: pre-wrap;
            font-size: 0.9rem;
            line-height: 1rem;
            border: 1px solid #cbcbcb;
        }
        &-impossible {
            text-align: left;
            font-size: 13px;
            line-height: 18.82px;
            color: #6e6e6e;
        }
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .signupagree {
        @include flex(column, space-around, center);
        padding: 0 20px;
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 26.06px;
        &__title {
            margin: 23.97px 0 20px;
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
        }
        &__button {
            margin: 39px 0 105.09px;
            width: 100%;
            button {
                width: 100%;
                &.click {
                    background: #f7c95f;
                }
                &.noclick {
                    background: #d5d5d5;
                }
                height: 49.89px;
                border-radius: 0px;
                font-size: 20px;
                align-items: center;
                text-align: center;
                color: #ffffff;
            }
        }
        &__content {
            width: 100%;
            &-agree {
                @include flex(row, space-between, center);
                width: 100%;
                font-weight: 500;
                font-size: 17px;
                line-height: 24.62px;
                color: #000000;
                &-check {
                    input {
                        margin-right: 8.5px;
                        height: 14px;
                        width: 14px;
                    }
                    &.box {
                        font-weight: 500;
                    }
                }
            }
            pre {
                width: 100%;
                height: 215.89px;
                font-size: 0.8rem;
                line-height: 0.9rem;
            }
            &-impossible {
                padding-bottom: 100px;
                width: 100%;
                line-height: 18.82px;
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .signupagree {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        &__title {
            margin: 15px 0 9px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
        img {
            height: 30px;
        }
        &__button {
            margin: 15px 0 22px;
            button {
                height: 32px;
                font-size: 14px;
            }
        }
        &__content {
            &-agree {
                margin-bottom: 7px;
                font-size: 12px;
                line-height: 17px;
                &-check {
                    input {
                        margin-right: 3.73px;
                        height: 6.52px;
                        width: 6.52px;
                    }
                    &.box {
                        font-size: 12px;
                    }
                }
            }
            pre {
                height: 101px;
                font-size: 0.7rem;
                line-height: 0.8rem;
            }
            &-impossible {
                width: inherit;
                font-size: 11px;
                line-height: 16px;
                padding-bottom: 50px;
            }
        }
    }
}
