@import 'styles/base.scss';

.search-input {
    @include flex(row, space-between, center);
    padding: 0 17px;
    width: 248px;
    height: 30px;
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    border-radius: 40px;
    input {
        outline: none;
        border: none;
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .search-input {
        @include flex(row-reverse, flex-start, center);
        margin-bottom: 10.1px;
        padding: 0 21px;
        width: 100%;
        height: 49.9px;
        border: 1px solid #a7a7a7;
        box-sizing: border-box;
        border-radius: 0;
        input {
            width: 100%;
            margin-left: 16px;
            font-size: 20px;
            color: #000;
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .search-input {
        margin-bottom: 6px;
        padding: 0 10px;
        width: 100%;
        height: 33px;
        input {
            margin-left: 7.4px;
            font-size: 15px;
        }
    }
}
