@import 'styles/base.scss';

.notice-board {
    padding-bottom: 150px;

    .notice-board__container--btn {
        text-align: right;
        margin: 48px 0 50px;
        a {
            text-align: center;
            display: inline-block;
            width: 80px;
            height: 43px;
            line-height: 43px;
            background: $main-color;
            color: #fff;
            border-radius: 4px;
            font-weight: bold;
            font-size: 17px;
        }
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .notice-board {
        padding-bottom: 40.5px;
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .notice-board {
        padding-bottom: 71px;
    }
}
