@import 'styles/base.scss';

//pc, 기본
.post-list {
    width: 100%;
    .post-list__item {
        @include flex(row, center, center);
        height: 71px;
        border-bottom: 1px solid rgba(226, 226, 226, 0.5);
        &:first-child {
            border-top: 1px solid rgba(226, 226, 226, 0.5);
        }
        &.no-border {
            border-bottom: 0;
            &:first-child {
                border-top: 0;
            }
        }
        .post-list__img {
            display: none;
        }
        .post-list__item--main {
            @include flex(row, space-between, center);
            .post-list__item--title {
                @include flex(row, flex-start, center);
                width: 530px;
                padding-right: 40px;
                .post-list__img--pc {
                    display: block;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                p {
                    margin: 0;
                    font-family: Noto Sans KR;
                    font-weight: bold;
                    font-size: 14px;
                    @include ellipsis(3, 14px);
                }
            }
            .post-list__item--detail {
                @include flex(row, center, center);
                color: #4f4f4f;
                font-family: Noto Sans KR;
                font-size: 11px;
                span {
                    width: 90px;
                    margin-right: 10px;
                    &:last-child {
                        width: 80px;
                        margin-right: 0;
                    }
                }
                .post-list__item--date {
                    margin-left: 10px;
                    margin-right: 50px;
                    width: 40px;
                    text-align: center;
                }
                .post-list__item--comment--pc {
                    display: block;
                }
            }
        }
        .post-list__item--comment {
            display: none;
        }
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .post-list {
        .post-list__item {
            margin: 0 20px;
            height: 101px;
            justify-content: space-between;

            &.no-border {
                margin-bottom: 20px;
            }
            .post-list__item--left {
                @include flex(row, flex-start, center);
            }
            .post-list__img {
                display: block;
                margin-right: 16px;
                img {
                    width: 77px;
                    height: 77px;
                }
            }
            .post-list__item--main {
                @include flex(column, space-around, flex-start);
                height: 101px;
                .post-list__item--title {
                    width: fill;
                    padding-right: 10%;
                    .post-list__img--pc {
                        display: none;
                    }
                    p {
                        font-weight: normal;
                        font-size: 17px;
                        @include ellipsis(2, 17px);
                    }
                }
                .post-list__item--detail {
                    color: #a8a8a8;
                    font-family: Noto Sans KR;
                    font-size: 14px;
                    span {
                        width: max-content;
                        margin-right: 5px;
                        padding-right: 5px;
                        border-right: 1px solid #a8a8a8;
                        &:last-child {
                            border-right: none;
                        }
                    }
                    .post-list__item--date {
                        margin-left: 0;
                        margin-right: 5px;
                        width: max-content;
                    }
                    .post-list__item--comment--pc {
                        display: none;
                    }
                }
            }
            .post-list__item--comment {
                padding: none;
                display: block;
                width: 42px;
                min-width: 42px;
                height: 42px;
                border: 1px solid #e2e2e2;
                border-radius: 50%;
                line-height: 42px;
                text-align: center;
                color: #838383;
                font-family: Noto Sans KR;
                font-size: 16px;
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .post-list {
        .post-list__item {
            height: 80px;
            &.no-border {
                margin-bottom: 5px;
            }
            .post-list__img {
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .post-list__item--main {
                height: 80px;
                .post-list__item--title {
                }
                .post-list__item--detail {
                    font-size: 12px;
                    div {
                        margin-right: 4px;
                        padding-right: 4px;
                    }
                }
            }
            .post-list__item--comment {
                width: 33.45px;
                min-width: 33.45px;
                height: 33.45px;
                line-height: 33.45px;
                font-family: Noto Sans KR;
            }
        }
    }
}
