@import 'styles/base.scss';

//pc, 기본
.sidebar {
    display: none;
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .sidebar {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.15);
        position: fixed;
        display: block;
        top: 0px;
        left: 0px;
        z-index: 999;
        &-style {
            display: block;
            background: white;
            width: 469px;
            height: 955px;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            &__header {
                @include flex(row, center, center);
                height: 74.79000091552734px;
                width: 469px;
                background: #2d2d2d;
                img {
                    height: 31.91900062561035px;
                    width: 110.06999206542969px;
                }
            }
            &__profile {
                @include flex(row, flex-start, center);
                width: 469px;
                height: 110px;
                border-bottom: 0.5px solid #e2e2e2;
                &-img {
                    img {
                        width: 66px;
                        height: 66px;
                    }
                    margin-left: 21px;
                    margin-right: 30px;
                }
                &-myinformation {
                    @include flex(column, center, flex-start);
                    height: 50px;
                    &-nickname {
                        font-family: Noto Sans KR;
                        font-size: 24px;
                        font-style: bold;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    &-description {
                        font-family: Noto Sans KR;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 22px;
                        color: #c4c4c4;
                    }
                }
            }
            &__link {
                @include flex(column, center, center);
                &-content {
                    width: 429px;
                    height: 54px;
                    border-bottom: 0.5px solid #e2e2e2;
                    a {
                        line-height: 54px;
                        text-decoration: none;
                        font-family: Noto Sans KR;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        letter-spacing: 0em;
                        text-align: left;
                        color: black;
                    }
                    button {
                        span {
                            line-height: 54px;
                            text-decoration: none;
                            font-family: Noto Sans KR;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 0em;
                            text-align: left;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .sidebar {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.15);
        position: fixed;
        display: block;
        top: 0px;
        left: 0px;
        z-index: 999;
        &-style {
            display: block;
            height: inherit;
            width: 283px;
            background: white;
            position: absolute;
            top: 0px;
            left: 0px;
            &__header {
                @include flex(row, center, center);
                height: 45px;
                width: 283px;
                background: #2d2d2d;
                img {
                    height: 19.260292053222656px;
                    width: 66.4175033569336px;
                }
            }
            &__profile {
                @include flex(row, flex-start, center);
                width: 246px;
                height: 72px;
                border-bottom: 0.5px solid #e2e2e2;
                &-img {
                    img {
                        width: 38px;
                        height: 38px;
                    }
                    margin-left: 21px;
                }
                &-myinformation {
                    @include flex(column, center, flex-start);
                    height: 50px;
                    &-nickname {
                        font-family: Noto Sans KR;
                        font-size: 15px;
                        font-style: bold;
                        font-weight: 400;
                        line-height: 12px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    &-description {
                        font-family: Noto Sans KR;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 12px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
            }
            &__link {
                @include flex(column, center, center);
                &-content {
                    width: 246px;
                    height: 41px;
                    border-bottom: 0.5px solid #e2e2e2;
                    a {
                        line-height: 54px;
                        text-decoration: none;
                        font-family: Noto Sans KR;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 400;
                        letter-spacing: 0em;
                        text-align: left;
                        color: black;
                    }
                    button {
                        span {
                            line-height: 54px;
                            text-decoration: none;
                            font-family: Noto Sans KR;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 0em;
                            text-align: left;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}
