@import 'styles/base.scss';

//pc, 기본
.login {
    @include flex(column, center, center);
    width: 100%;
    height: 100vh;
    &__logo {
        padding-top: 243px;
        padding-bottom: 76px;
        img {
            height: 71.33126831054688px;
            width: 159px;
        }
    }
    &__input {
        @include flex(column, center, center);
        input {
            width: 701px;
            height: 76px;
            background: #dadada;
            border-radius: 8px;
            border: none;
        }
        &-id {
            margin-bottom: 17px;
        }
        &-password {
            margin-bottom: 30px;
        }
        &-selectbox {
            @include flex(row, flex-start, flex-start);
            width: 701px;
            img {
                width: 18px;
                height: 18px;
            }
        }
    }
    &__searchandsignup {
        @include flex(row, center, center);
        padding-top: 77px;
        padding-bottom: 74.5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        color: #838383;
        &-id {
            border-right: 1px solid #838383;
            padding: 0 9px;
        }
        &-password {
            border-right: 1px solid #838383;
            padding: 0 9px;
        }
        &-signup {
            padding: 0 9px;
        }
        a {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 22px;
            color: #838383;
            text-decoration: none;
        }
    }
    &__button {
        padding-bottom: 250px;
        button {
            width: 454px;
            height: 103px;
            background: #f7c95f;
            border-radius: 8px;
            border: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 41px;
            color: #1f1f1f;
        }
    }
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .login {
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .login {
    }
}
