@import 'styles/base.scss';

//pc, 기본
.login {
    @include flex(column, center, center);
    width: 100%;
    height: 100vh;
    &__logo {
        padding-top: 100px;
        padding-bottom: 76px;
        img {
            height: 71.33126831054688px;
            width: 159px;
        }
    }
    &__input {
        @include flex(column, center, center);
        input {
            width: 698px;
            height: 50px;
            background: #fff;
            border-radius: 0px;
            border: 1px solid #a7a7a7;
        }
        &-id {
            margin-bottom: 10px;
        }
        &-password {
            margin-bottom: 10px;
        }
        &-selectbox {
            @include flex(row, flex-start, flex-start);
            width: 701px;
            margin-bottom: 16px;
            .remember-check {
                width: 18px;
                height: 18px;
            }
        }
    }
    &__searchandsignup {
        @include flex(row, center, center);
        padding-top: 77px;
        padding-bottom: 74.5px;
        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        color: #838383;
        &-id {
            border-right: 1px solid #838383;
            padding: 0 9px;
        }
        &-password {
            border-right: 1px solid #838383;
            padding: 0 9px;
        }
        &-signup {
            padding: 0 9px;
        }
        a {
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 22px;
            color: #838383;
            text-decoration: none;
        }
    }
    &__button {
        padding-bottom: 37px;
        button {
            height: 59px;
            width: 704px;
            background: #f7c95f;
            border: none;
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: bold;
            font-size: 23px;
            line-height: 33px;
            color: #1f1f1f;
        }
    }
}

//태블릿
@media screen and (max-width: $tablet-max) {
    .login {
        @include flex(column, center, center);
        height: calc(100vh - 119.79px);
        background: #2d2d2d;

        &__logo {
            padding-top: 0px;
            padding-bottom: 76px;
            img {
                height: 79.429px;
                width: 273.87px;
            }
        }
        &__input {
            @include flex(column, center, center);
            input {
                border-radius: 0px;
                width: 728px;
                height: 49.9px;
                background: white;
                border: 1px solid #a7a7a7;
            }
            &-id {
                margin-bottom: 6px;
            }
            &-password {
                margin-bottom: 6px;
            }
            &-selectbox {
                @include flex(row, flex-start, flex-start);
                width: 728px;
                padding-bottom: 16.49px;
                .remember-check {
                    height: 13px;
                    width: 13px;
                }
                label {
                    font-size: 11px;
                    line-height: 15px;
                    padding-left: 5.28px;
                    color: white;
                }
            }
        }
        &__searchandsignup {
            @include flex(row, center, center);
            padding-top: 45.61px;
            &-id {
                border-right: 1px solid white;
                padding: 0 9px;
            }
            &-password {
                border-right: 1px solid white;
                padding: 0 9px;
            }
            &-signup {
                padding: 0 9px;
            }
            a {
                font-size: 17px;
                line-height: 25px;
                color: white;
            }
        }
        &__button {
            padding-bottom: 0px;
            button {
                border-radius: 0px;
                width: 734px;
                height: 49.9px;
                font-size: 20px;
                line-height: 29px;
                letter-spacing: 0em;
                color: white;
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .login {
        height: calc(100vh - 83px);
        &__logo {
            padding-bottom: 50px;
            img {
                height: 40px;
                width: 150px;
            }
        }
        &__input {
            input {
                width: 320px;
                height: 32px;
            }
            &-selectbox {
                width: 320px;
                padding-bottom: 12px;
                .remember-check {
                    height: 8.39px;
                    width: 8.39px;
                }
                label {
                    padding-left: 5px;
                    line-height: 11px;
                }
            }
        }
        &__searchandsignup {
            padding-top: 15px;
            &-id {
                height: 15px;
                line-height: 15px;
                padding: 0 3px;
            }
            &-password {
                height: 15px;
                line-height: 15px;
                padding: 0 3px;
            }
            &-signup {
                height: 15px;
                padding: 0 3px;
                line-height: 15px;
            }
            a {
                font-size: 11px;
            }
        }
        &__button {
            button {
                width: 326px;
                height: 32px;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
