@import 'styles/base.scss';

.editor {
    @include flex(column, center, center);
    font-size: 20px;
    .editor-photo-btn {
        margin-top: 14px;
        .ql-tooltip {
            display: none;
        }
        .editor-photo-btn-div {
            @include flex(row, space-between, center);
            width: 100%;
        }
        span {
            margin-right: 20px;
        }
        img {
            margin-right: 3px;
        }

        input[type='file'] {
            display: none;
        }
        button {
            img {
                height: 15.609999656677246px;
                width: 19.510000228881836px;
            }
        }
        .editor-title {
            margin-bottom: 5px;
            input {
                height: 48px;
                width: 990px;
            }
        }
    }
    .write__contents {
        .ql-editor {
            min-height: 800px;
            background: #fff;
            border: 1px solid #a7a7a7;
            img {
                max-width: 500px;
            }
            &.ql-disabled {
                background: inherit;
            }
            &.readOnly {
                border: none;
            }
        }
    }
    .read__contents {
        .ql-editor {
            font-size: 20px;
            min-height: 500px;
            background: #fff;
            border: 0px;
            img {
                width: 800px;
            }
            &.ql-disabled {
                background: inherit;
            }
            &.readOnly {
                border: none;
                min-height: 100px;
            }
        }
    }
    .ql-container {
        width: 1000px;
        min-height: 800px;
        background: #fff;
        img {
            width: 800px;
        }
        &.ql-disabled {
            background: inherit;
        }
    }
    &.read-only {
        .ql-container {
            width: 100%;
            min-height: 100px;
        }
    }
}

//태블릿, 모바일 공통
@media screen and (max-width: $tablet-max) {
    .editor {
        .editor-photo-btn {
            margin-top: 14px;
            span {
                margin-right: 20px;
            }
            img {
                margin-right: 3px;
            }

            input[type='file'] {
                display: none;
            }
            .editor-title {
                margin-bottom: 5px;
                input {
                    height: 49px;
                    width: 720px;
                }
            }
        }
        .write__contents {
            .ql-editor {
                min-height: 300px;
            }
        }
        .read__contents {
            .ql-editor {
                font-size: 15px;
                min-height: 500px;
                background: #fff;
                border: 0px;
                img {
                    width: 700px;
                }
                &.ql-disabled {
                    background: inherit;
                }
                &.readOnly {
                    border: none;
                    min-height: 100px;
                }
            }
        }
        .ql-container {
            width: 728px;
            height: 318px;
            min-height: 289px;
            background: #fff;
            img {
                max-width: 500px;
            }
            &.ql-disabled {
                background: inherit;
            }
        }
        &.read-only {
            .ql-container {
                min-height: 100px;
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .editor {
        @include flex(column, center, center);
        font-size: 20px;
        .editor-photo-btn {
            margin-top: 14px;
            font-family: Noto Sans KR;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            img {
                margin-right: 3px;
            }

            input[type='file'] {
                display: none;
            }
            .editor-title {
                margin-bottom: 5px;
                input {
                    height: 32px;
                    width: 320px;
                }
            }
        }
        .write__contents {
            @include flex(row, center, center);
            .ql-editor {
                min-height: 230px;
            }
        }
        .read__contents {
            .ql-editor {
                font-size: 10px;
                min-height: 300px;
                background: #fff;
                border: 0px;
                img {
                    max-width: 300px;
                }
                &.ql-disabled {
                    background: inherit;
                }
                &.readOnly {
                    border: none;
                    min-height: 100px;
                }
            }
        }
        .ql-container {
            width: 328px;
            min-height: 289px;
            background: #fff;
            img {
                max-width: 500px;
            }
            &.ql-disabled {
                background: inherit;
            }
        }
        &.read-only {
            .ql-container {
                min-height: 100px;
            }
        }
    }
}
