@import 'styles/base.scss';

//pc, 기본
.signupinfo {
    @include flex(column, center, center);
    width: 100%;
    height: 591px;
    &__title {
        width: 824px;
        padding-bottom: 82px;
        font-family: Noto Sans KR;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;
    }
    img {
        padding-top: 9px;
    }

    &__content {
        @include flex(column, center, center);
        &-form {
            @include flex(row, flex-start, center);
            width: 824px;
            padding-bottom: 55px;
            span {
                width: 200px;
                font-family: Noto Sans KR;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
            }
            &-input {
                @include flex(row, flex-start, center);
                input {
                    width: 309px;
                    height: 32px;
                    background: rgba(196, 196, 196, 0.5);
                    border: 0px;
                }
                button {
                    @include flex(row, center, center);
                    text-align: center;
                    width: 75px;
                    height: 32px;
                    margin-left: 14px;
                    background: #c4c4c4;
                }
                &.click {
                    background: #f7c95f;
                }
                &.noclick {
                    background: #d5d5d5;
                }
            }
        }
    }
}
//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .signupinfo {
        @include flex(column, flex-start, center);
        width: 100%;
        height: 1179.45px;
        font-family: Noto Sans KR;
        font-style: normal;
        &__title {
            padding-top: 23.97px;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            text-align: center;
        }
        img {
            padding-top: 20px;
        }
        &__img {
            @include flex(column, center, center);
            &-title {
                @include flex(row, flex-start, center);
                width: 728px;
                padding-top: 78.99px;
                padding-bottom: 24px;
            }
            input[type='file'] {
                display: none;
            }
            button {
                width: 194px;
                height: 194px;
                border: 1px solid black;
                border-radius: 194px;
            }
            &-preview {
                @include flex(row, center, center);
                width: inherit;
                height: 194px;
                &-background {
                    position: absolute;
                    width: inherit;
                    height: 194px;
                    background: #000000;
                    opacity: 0.13;
                }
                img {
                    width: 194px;
                    height: 194px;
                }
                button {
                    width: 25px;
                    height: 25px;
                    margin-right: 5px;
                    margin-bottom: 15px;
                    align-self: flex-start;
                    color: black;
                    z-index: 10;
                }
            }
        }
        &__content {
            @include flex(column, center, center);
            &-form {
                @include flex(column, center, flex-start);
                width: 728px;
                padding-bottom: 29.61px;
                span {
                    padding-bottom: 16.49px;
                    font-family: Noto Sans KR;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 25px;
                    letter-spacing: 0em;
                }
                &-input {
                    @include flex(row, flex-start, center);
                    input {
                        background: white;
                        height: 50px;
                        width: 600px;
                        border: 1px solid #a7a7a7;
                        border-right: none;
                        &.password {
                            border-right: 1px solid #a7a7a7;
                            width: 728px;
                        }
                    }
                    button {
                        margin: 0px;
                        height: 54px;
                        width: 128px;
                        font-size: 20px;
                        line-height: 29px;
                        color: #ffffff;
                        background: #d5d5d5;
                        border: 1px solid #a7a7a7;
                        border-left: none;
                    }
                    &.click {
                        background: #f7c95f;
                    }
                    &.noclick {
                        background: #d5d5d5;
                    }
                }
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .signupinfo {
        @include flex(column, flex-start, center);
        width: 100%;
        height: 669px;
        &__title {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 23px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
        img {
            padding-top: 9px;
            width: 234px;
            height: 30px;
        }
        &__img {
            @include flex(column, center, center);
            &-title {
                @include flex(row, flex-start, center);
                width: 320px;
                padding-top: 46px;
                padding-bottom: 0px;
                font-size: 12px;
                line-height: 17px;
            }
            input[type='file'] {
                display: none;
            }
            button {
                width: 92px;
                height: 92px;
                border: 1px solid black;
                border-radius: 1940px;
                img {
                    height: 11.969504356384277px;
                    width: 14.961897850036621px;
                }
            }
        }
        &__content {
            @include flex(column, center, center);
            &-form {
                @include flex(column, center, flex-start);
                width: 320px;
                padding-bottom: 20px;
                span {
                    padding-top: 0px;
                    padding-bottom: 7px;
                    font-size: 12px;
                    line-height: 17px;
                }
                &-input {
                    @include flex(row, flex-start, center);
                    input {
                        background: white;
                        height: 32px;
                        width: 247px;
                        border: 1px solid #a7a7a7;
                        border-right: none;
                        &.password {
                            border-right: 1px solid #a7a7a7;
                            width: 320px;
                        }
                    }
                    button {
                        margin: 0px;
                        height: 36px;
                        width: 74px;
                        font-size: 15px;
                        line-height: 21.72px;
                        color: #ffffff;
                        text-align: center;
                        background: #d5d5d5;
                    }
                    &.click {
                        background: #f7c95f;
                    }
                    &.noclick {
                        background: #d5d5d5;
                    }
                }
            }
        }
    }
}
