@import 'styles/base.scss';

//pc, 기본
.nav {
  width: 100%;
  min-width: 1100px;
  &-main {
    @include flex(row, center, center);
    width: 100%;
    height: 120px;
    background: rgb(45, 45, 45);
    color: rgb(137, 137, 137);
    &__logo {
      @include flex(row, center, center);
      width: 200px;
      height: 70px;
      &-menu {
        display: none;
      }
      &-logoimg {
        height: 55px;
        padding-right: 10%;
        img {
          display: block;
          height: 55px;
        }
      }
      &-search {
        display: none;
      }
    }
    &__login {
      @include flex(row, space-evenly, center);
      width: 200px;
      height: 25px;
      border-right: 1px solid #838383;
      line-height: 80px;
      a {
        text-decoration: none;
      }
      span {
        font-size: 17px;
      }
      &-login {
        color: #838383;
        &.click {
          color: white;
        }
      }
      &-signup {
        color: #838383;
        span {
          min-width: 300px;
        }
        &.click {
          color: white;
        }
      }
    }
    &__menu {
      @include flex(row, flex-start, center);
      line-height: 80px;
      width: 750px;
      &-content {
        min-width: 100px;
        text-align: center;
        font-size: 18px;
        &:hover {
          color: $main-color;
        }
        &.click {
          color: $main-color;
        }
        &.home {
          padding-left: 20px;
        }
      }
      &-input {
        padding-left: 20px;
      }
    }
  }
  &-hover {
    @include flex(row, center, center);
    width: 100%;
    height: 200px;
    background: rgba(211, 211, 211, 0.5);
    &__border {
      @include flex(row, flex-end, center);
      min-width: 400px;
      height: 160px;
      border-right: 1px solid #838383;
      &-authenticated {
        @include flex(column, flex-start, center);
        min-width: 200px;
        height: inherit;
        span {
          font-size: 15px;
          color: #838383;
          padding: 9px 0;
        }
        a {
          margin-bottom: 2.5px;
        }
      }
    }
    &__menu {
      @include flex(row, flex-start, center);
      width: 750px;
      height: 150px;
      color: #838383;
      a {
        text-decoration: none;
      }
      &-col {
        @include flex(column, flex-start, center);
        padding: 9px 5px;
        min-width: 100px;
        height: inherit;
        border-right: 1px solid #838383;
        font-size: 15px;
        color: #838383;
        box-sizing: border-box;
        a {
          margin-bottom: 6px;
        }
      }
      &-dummy {
        min-width: 300px;
        padding-left: 25px;
      }
    }
  }
}

//태블릿
@media screen and (max-width: $tablet-max) {
  .nav {
    width: 100%;
    min-width: 0px;
    &-main {
      @include flex(column, space-between, space-between);
      width: 100%;
      height: 119.79px;
      &.no {
        height: 70.79px;
      }
      &__logo {
        @include flex(row, space-between, space-between);
        width: 100%;
        height: 5rem;
        padding: 0;
        span {
          display: none;
        }
        img {
          display: inline;
          padding: 0 20px;
        }
        &-menu,
        &-search {
          width: auto;
          height: 1.8rem;
        }
        &-logoimg {
          @include flex(row, center, center);
          height: 3rem;
          padding: 0px;
          img {
            padding: 0px;
            height: 3.7rem;
          }
        }
      }
      &__login {
        display: none;
      }
      &__menu {
        @include flex(row, center, center);
        width: 100%;
        min-width: 0;
        height: 40px;
        padding-left: 0px;
        &-content {
          width: 25%;
          height: 40px;
          min-width: 0px;
          max-width: 100%;
          font-size: 19px;
          line-height: 20px;
          letter-spacing: 0em;
          &:hover {
            color: white;
            border-bottom: 1px solid $main-color;
          }
          &.click {
            color: white;
            border-bottom: 1px solid $main-color;
          }
        }
        &-input {
          display: none;
          padding: 0;
        }
      }
    }
    &-hover {
      position: relative;
      @include flex(row, center, center);
      height: 42.15px;
      background: rgb(53, 53, 53);
      z-index: 5;
      &__border {
        display: none;
      }
      &__menu {
        @include flex(row, space-around, center);
        width: 100%;
        height: 42px;
        margin-top: 0px;
        padding: 0;
        &-col {
          @include flex(row, space-around, center);
          padding: 0;
          width: 100%;
          min-width: 0px;
          max-width: 100%;
          height: inherit;
          color: #898989;
          font-size: 15px;
          font-weight: normal;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: center;
          border: none;
        }
        span {
          &:hover {
            color: white;
            font-weight: 500;
          }
        }
      }
    }
    &-search__box {
      width: 100%;
      height: 250px;
      z-index: 3;
      background: #fff;
    }
  }
}

//모바일
@media screen and (max-width: $mobile-max) {
  .nav {
    &-main {
      height: auto;
      &.no {
        height: 55px;
      }
      &__logo {
        height: 3.55rem;
        img {
          margin: 0px;
        }
        &-menu,
        &-search {
          height: 1.2rem;
        }
        &-logoimg {
          img {
            height: 2.7rem;
          }
        }
      }
      &__menu {
        height: auto;
        &-content {
          height: 1.9rem;
          font-size: 1rem;
        }
      }
    }
    &-hover {
      width: 100%;
      height: 2rem;
      &__menu {
        margin-top: 0px;
        min-width: 0px;
        &-col {
          font-size: 1rem;
        }
      }
    }
    &-search__box {
      height: 175px;
    }
  }
}
