@import 'styles/base.scss';

//pc, 기본
.nav {
    &.sidebaropen {
    }
    &-main {
        @include flex(row, center, center);
        width: 100%;
        height: 120px;
        flex-shrink: 10;
        background: rgb(45, 45, 45);
        color: rgb(137, 137, 137);
        &__logo {
            @include flex(row, space-between, center);
            flex-shrink: 10;
            width: 30%;
            height: 70px;
            min-width: 250px;
            &-menu {
                display: none;
            }
            &-logoimg {
                @include flex(row, center, center);
                width: 80%;
                height: 55px;
                padding-left: 10%;
                padding-right: 10%;
                img {
                    display: block;
                    width: 140px;
                    height: 55px;
                }
            }
            &-search {
                display: none;
            }
        }
        &__login {
            @include flex(row, center, center);
            width: 13%;
            height: 25px;
            min-width: 150px;
            border-right: 1px solid #838383;
            line-height: 80px;
            padding-right: 40px;
            a {
                text-decoration: none;
                width: 100px;
            }
            &-login {
                color: #838383;
                &.click {
                    color: white;
                }
            }
            &-signup {
                color: #838383;
                span {
                    min-width: 300px;
                }
                &.click {
                    color: white;
                }
            }
        }
        &__menu {
            @include flex(row, center, center);
            flex-shrink: 0;
            line-height: 80px;
            width: 55%;
            min-width: 800px;
            padding-left: 40px;
            &-content {
                width: 100%;
                min-width: 100px;
                text-align: center;
                &:hover {
                    color: #ffd278;
                }
                &.click {
                    color: #ffd278;
                }
                &.home {
                    padding-left: 20px;
                }
            }
            &-input {
                width: 100%;
                padding-left: 5%;
                padding-right: 5%;
                input {
                    background-position: 91% center;
                    background-repeat: no-repeat;
                    background-image: url('../../../images/search.png');
                    background-size: 10%;
                    width: 207px;
                    height: 30px;
                    border-radius: 40px;
                }
            }
        }
    }
    &-hover {
        @include flex(row, center, center);
        width: 100%;
        height: 302px;
        background: #c2c2c2;
        &__border {
            @include flex(row, flex-end, center);
            flex-shrink: 10;
            width: 43%;
            min-width: 150px;
            height: 256px;
            margin-top: 15px;
            padding-left: 260px;
            border-right: 1px solid #838383;
            &-authenticated {
                @include flex(column, flex-start, center);
                width: 13%;
                min-width: 100px;
                height: 256px;
                span {
                    font-size: 13px;
                    color: #838383;
                    padding: 9px 0;
                }
                padding-right: 20%;
            }
        }
        &__menu {
            @include flex(row, flex-start, center);
            flex-shrink: 0;
            width: 55%;
            min-width: 800px;
            height: 256px;
            margin-top: 15px;
            padding-left: 40px;
            color: #838383;
            span {
                font-size: 13px;
                color: #838383;
                padding: 9px 0;
            }
            a {
                text-decoration: none;
            }
            &-home {
                width: 100%;
                min-width: 100px;
            }
            &-main {
                @include flex(column, flex-start, center);
                width: 100%;
                min-width: 100px;
                height: 256px;
                border-right: 1px solid #838383;
            }
            &-luna {
                @include flex(column, flex-start, center);
                width: 100%;
                min-width: 100px;
                height: 256px;
                border-right: 1px solid #838383;
            }
            &-free {
                @include flex(column, flex-start, center);
                width: 100%;
                min-width: 100px;
                height: 256px;
                border-right: 1px solid #838383;
            }
            &-dalgona {
                @include flex(column, flex-start, center);
                width: 100%;
                min-width: 100px;
                height: 256px;
            }
            &-dummy {
                width: 100%;
                padding-left: 15%;
                padding-right: 10%;
            }
        }
    }
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .nav {
        &-main {
            @include flex(column, space-between, space-between);
            width: 100%;
            height: 119.79px;
            &.no {
                height: 70.79px;
            }
            &__logo {
                @include flex(row, space-between, space-between);
                width: 100%;
                padding: 15.97px 0px 20px 0px;
                span {
                    display: none;
                }
                img {
                    display: inline;
                    margin: 0 20px;
                }
                &-menu {
                    width: 16px;
                    height: 16px;
                }
                &-logoimg {
                    @include flex(row, center, center);
                    margin-right: 10px;
                    height: 31px;
                    img {
                        padding-left: 0px;
                        padding-right: 0px;
                        width: 110px;
                        height: 31px;
                    }
                }
                &-search {
                    width: 16px;
                    height: 16px;
                }
            }
            &__login {
                display: none;
            }
            &__menu {
                @include flex(row, center, center);
                width: 100%;
                height: 40px;
                padding-left: 0px;
                flex-shrink: none;
                &-content {
                    width: 20%;
                    height: 40px;
                    min-width: 0px;
                    font-family: Noto Sans KR;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    &:hover {
                        color: white;
                        border-bottom: 1px solid #ffd278;
                    }
                    &.click {
                        color: white;
                        border-bottom: 1px solid #ffd278;
                    }
                }
                &-input {
                    display: none;
                    padding: 0;
                }
            }
        }
        &-hover {
            height: 42.150001525878906px;
            background: rgb(53, 53, 53);
            @include flex(row, center, center);
            &__border {
                display: none;
            }
            &__menu {
                @include flex(row, space-around, center);
                width: 100%;
                height: 42px;
                margin-top: 0px;
                padding-right: 0px;
                padding-left: 0px;
                &-main,
                &-luna,
                &-free,
                &-dalgona {
                    @include flex(row, space-around, center);
                    width: 100%;
                    min-width: 0px;
                    height: inherit;
                    color: white;
                    font-family: Noto Sans KR;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: center;
                    border: none;
                    padding-left: 0px;
                }
                span {
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .nav {
        &-main {
            @include flex(column, space-between, space-between);
            width: 100%;
            height: 89.79px;
            &.no {
                height: 55px;
            }
            &__logo {
                @include flex(row, space-between, space-between);
                width: 100%;
                padding: 15px 0px 15px 0px;
                span {
                    display: none;
                }
                img {
                    display: inline;
                    margin: 0 5px;
                }
                &-menu {
                    width: 16px;
                    height: 16px;
                }
                &-logoimg {
                    width: 120px;
                    margin-right: 0px;
                    height: 26px;
                    padding-left: 0px;
                    padding-right: 0px;
                    img {
                        padding-left: 0px;
                        width: 86.82999420166016px;
                        height: 25.177528381347656px;
                    }
                }
                &-search {
                    width: 16px;
                    height: 16px;
                }
                img {
                    display: inline;
                    margin: 0 20px;
                }
            }
            &__login {
                display: none;
            }
            &__menu {
                @include flex(row, space-around, center);
                width: 100%;
                height: 40px;
                padding-left: 0px;
                flex-shrink: none;
                min-width: 0px;
                &-content {
                    width: 20%;
                    height: 30px;
                    min-width: 0px;
                    font-family: Noto Sans KR;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    &:hover {
                        color: white;
                        border-bottom: 1px solid #ffd278;
                    }
                    &.click {
                        color: white;
                        border-bottom: 1px solid #ffd278;
                    }
                }
                &-input {
                    display: none;
                    padding: 0;
                }
            }
        }
        &-hover {
            width: 100%;
            height: 25.62px;
            background: rgb(53, 53, 53);
            @include flex(row, center, center);
            &__border {
                display: none;
            }
            &__menu {
                @include flex(row, space-around, center);
                width: 100%;
                height: 26px;
                margin-top: 0px;
                min-width: 0px;
                padding-right: 0px;
                padding-left: 0px;
                &-main,
                &-luna,
                &-free,
                &-dalgona {
                    @include flex(row, space-around, center);
                    width: 100%;
                    min-width: 0px;
                    height: 26px;
                    color: white;
                    font-family: Noto Sans KR;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: center;
                    border: none;
                    padding-left: 0px;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
