@import 'styles/base.scss';

//pc, 기본
.footer {
    @include flex(column, center, center);
    width: 100%;
    height: 289px;
    background: #c2c2c2;
    &.login {
        width: 100%;
        height: 289px;
        background: #c2c2c2;
    }
    &-icon {
        @include flex(row, space-around, center);
        width: 20%;
        padding-bottom: 60px;
        img {
            width: 40px;
            height: 40px;
        }
    }
    &-information {
        padding-top: 20px;
    }
    span {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        color: #838383;
    }
}

//태블릿
@media screen and (min-width: $mobile-max+1px) and (max-width: $tablet-max) {
    .footer {
        @include flex(column, center, center);
        width: 100%;
        height: 114.9px;
        background: #f2f2f2;
        &.login {
            width: 100%;
            height: 114.9px;
            background: #2d2d2d;
        }
        &-icon {
            @include flex(row, space-around, center);
            width: 20%;
            padding-bottom: 14px;
            img {
                width: 17px;
                height: 17px;
            }
        }
        &-information {
            display: none;
        }
        span {
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 14px;
            color: #a0a0a0;
        }
    }
}

//모바일
@media screen and (max-width: $mobile-max) {
    .footer {
        @include flex(column, center, center);
        width: 100%;
        height: 83.65px;
        background: #f2f2f2;
        &.login {
            width: 100%;
            height: 83.65px;
            background: #2d2d2d;
        }
        &-icon {
            @include flex(row, space-around, center);
            width: 30%;
            padding-bottom: 14px;
            img {
                width: 13.65px;
                height: 13.65px;
            }
        }
        &-information {
            display: none;
        }
        span {
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            color: #a0a0a0;
        }
    }
}
